.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.drawer1{
    border: 2px solid #333;
    margin-bottom: 20px;
    text-align: center;
    width: 60%;
}

@media (min-width: 1024px){
    .container{
        flex-wrap: wrap;
    }
    
    .drawer1{
        flex-wrap: wrap-reverse;
    }

}